@import '../../components/helpers/global.scss';
@import '../../components/helpers/mixins.scss';
@import '../../components/helpers/variables.scss';

.sign__up {
  height: 100vh;
  height: 100vh;
  height: 100vh;
  @include flex();
    .btn {
      display: block;
      margin: 0 auto;
      @include font(18px, 21px);
      color: $main-violet;
      border: 2px solid $main-violet;
      width: 100%;
      height: 46px;
      border-radius: 8px;
      background: $default-color;
      &:hover {
        background: $main-violet;
        color: $white;
      }
    }
}