$main-violet: #4C49ED;
$violet: #9D9BF4;
$gray: #A1A0BD;
$red: #D14F4F;
$green: #4FD18B;
$blue: #141197;
$white: #fff;
$black: #000; 
$default-color: transparent;
$font: 'Roboto', sans-serif;
$center-text: center;
